{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@assets": "./assets",
        "@components": "./src/components",
        "@config": "./src/config"
      }
    }]
  ]
}
